/* From Uiverse.io by Praashoo7 */ 
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 50%;
    box-shadow: 0 0 50px rgba(255, 85, 85, 0.5);
}
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    margin: 5%;
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
    cursor: pointer;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .button1:hover {
    background-color: rgba(255, 85, 85, 0.5);
    color: white;
  }
  h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #b9b9b9;
    margin: 5%;
}
h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #adf5ff;
  margin: 0%;
}
h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #00e1ff;
  margin: 0%;
}
option{
  color: aliceblue;
  background-color: #363636;
}
.attendance-options {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.mark_label_P{
  color: #31a377;
}
.mark_label_A{
  color: #a53030;
}