.fa-html5 {
  color: rgb(150, 0, 0);
  font-size: 60px;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.377);
}
::-webkit-scrollbar-thumb {
  background-color: #6e42c17c;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6f42c1;
}
h7 {
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.Navbar {
  width: 100%;
  text-align: center;
  background-color: grey;
  height: 8vh;
}
.Navcell_01 {
  width: 10%;
  text-align: center;
}
.Navcell_02 {
  width: 50%;
  text-align: center;
}
.Navcell_03 {
  width: 10%;
  text-align: center;
}

.Navcell_04 {
  width: 10%;
  text-align: center;
}
.Navcell_06 {
  width: 10%;
  text-align: center;
}
.Navcell_07 {
  width: 10%;
  text-align: center;
  font-size: 20px;
  color: brown;
  cursor: pointer;
}
.Navcell_08 {
  width: 0%;
  text-align: center;
  display: none;
}
.dropdown-menu {
  width: 100%;
  background-color: grey;
  color: black;
  cursor: pointer;
}
.dropdown-item {
  color: #000000;
}
.dropdown-item:hover {
  color: #ffffff;
  background-color: #000000;
}
/*--------------------------------------------Responsive at 900px------------------------------------*/
@media only screen and (max-width: 900px) {
  a {
    text-decoration: none;
  }
  .fa-html5 {
    color: rgb(150, 0, 0);
    font-size: 60px;
  }
  .fa-bars {
    color: rgb(0, 0, 0);
    font-size: 60px;
  }
  .Navbar {
    width: 100%;
    text-align: center;
    background-color: grey;
    height: 8vh;
  }
  .Navcell_01 {
    width: 10%;
    text-align: center;
  }
  .Navcell_02 {
    width: 80%;
    text-align: center;
  }
  .Navcell_08 {
    width: 10%;
    text-align: center;
    display: block;
  }
  .Navcell_03 {
    width: 0%;
    text-align: center;
    display: none;
  }
  .Navcell_04 {
    width: 0%;
    text-align: center;
    display: none;
  }
  .Navcell_05 {
    width: 0%;
    text-align: center;
    display: none;
  }
  .Navcell_06 {
    width: 0%;
    text-align: center;
    display: none;
  }
  .Navcell_07 {
    width: 0%;
    text-align: center;
    font-size: 20px;
    color: brown;
    cursor: pointer;
    display: none;
  }

  .dropdown-menu {
    width: 100%;
    background-color: grey;
    color: black;
    cursor: pointer;
  }
  .dropdown-item {
    color: #000000;
  }
  .dropdown-item:hover {
    color: #ffffff;
    background-color: #000000;
  }
}
/*--------------------------------------------Responsive at 600px------------------------------------*/
@media only screen and (max-width: 600px) {
}
